.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
}

.sidebar .nav-link {
  font-size: .875rem;
  font-weight: 500;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.card {
    border-radius: 12px;
}

.card-body h3 {
    font-weight: 700;
    margin-top: 10px;
}

#myChart {
    max-height: 250px;
}

.top-product {

    height: 60px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px;

    margin-bottom:12px;

    background:#fff;

    border:1px solid #e9ecef;
    border-radius:12px;

    text-decoration:none;
    color:#333;

    transition:0.2s;
}


.top-product:hover {
    background:#f8f9fa;
    transform:translateY(-2px);
}
